* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: #393939;
    background-color: lightblue;
}

.NavContainer {
    box-sizing: border-box;
    background-color: rgb(114, 53, 164);
    overflow: auto;
    padding: 5px 5px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 3px 3px 15px;
}
.mainContainer {
    /* using flexbox to change boxes from verical to horizontal */
    /* display: flex;
    flex-direction: column; */
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.itemCard {
  background-color:white;
  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  box-shadow: 5px 5px 5px;
}