body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #393939;
    background: rgb(250, 250, 250);
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.loginPage {
    width: 100%;
    height: 100%;
    border: 3px solid #f1f1f1;
    display: grid;
    justify-content: center;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    z-index: 1;
    background: pink;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 50% 30%;
}
    .loginBox {
        height: 100%;
        width: 100%;
        grid-column: 2;
        grid-row: 2;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80% 20%;
    }
        .loginInputSection {
            grid-row: 1;
            height: 100%;
            width: 100%;
        }
        .firstTimeSection {
            grid-row: 2;
            height: 100%;
            width: 100%;
        }

.NavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: lightblue;
    padding: 10px;
    overflow: auto;
    padding: 5px 5px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 20px;
    list-style: none;
}

nav li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 3px 3px 15px;
}

nav a{
    color: #444;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: auto;
    grid-template-rows: 8% 92%;
    grid-gap: 1rem;
    
}
    .navBarContainer {
        grid-row: 1;
        width: 100%;
        height: 100%;
    }

.feedContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}
    .withinFeedContainer {
        grid-column: 3;
        grid-row: 3;
    }

.itemCard {
  background-color:white;
  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  box-shadow: 5px 5px 5px;
}